<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
              <link rel="stylesheet" href="{{ asset('includes/css/bootstrap.min.css') }}" />
              <link rel="stylesheet" href="{{ asset('includes/css/main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('includes/js/jquery.min.js') }}"></script>
            <script src="{{ asset('includes/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
