{% extends 'base.html.twig' %}
{% block title %} MePosts! {% endblock %}
{% block stylesheets %} 
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('includes/css/home.css') }}" />
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="testimonials">
            	<div class="active item">
                  <div class="quote"><p>"{% if lastpost != '' %}{{lastpost.textPost}}{% else %} Post something on your mind :) {% endif %}"</p></div>
                  <div class="carousel-info">
                    <img alt="" src="{{ asset('includes/img/ninja.png') }}" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">{{app.user.username}}</span>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="widget-area no-padding blank">
        	<h4>Anything on your mind? MePost now!</h4>
			<div class="status-upload">
				<form method="POST" action="{{url('post')}}">
					<textarea name="text_post" placeholder="What are you thinking right now?" ></textarea>
					<ul>
						<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
						<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
						<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
						<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
					</ul>
					<button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
				</form>
			</div><!-- Status Upload  -->
		</div><!-- Widget Area -->
    </div>

    <hr style="width:100%;display:block;margin-bottom:10px">
	{% for post in posts %}
		<div class="row col-md-6 col-md-offset-3">
			<div class="testimonials">
            	<div class="active item">
                  <div class="carousel-info">
                    <img alt=""src="{{ asset('includes/img/ninja.png') }}" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">{{post.user.username}}</span>
                      <span class="testimonials-post">{{post.user.emailadd}}</span>
                    </div>
                    <div class="quote pull-left	">
                      <p style="text-align:center">"{{post.textPost}}"</p>
                      <p class="postdatetime">{{post.postDateTime|date('Y-m-d H:i') }}</p>
                      {% if post.user.id == app.user.id %}
                        <span class="remove"><a href="{{url('deletePost',{'postId': post.id})}}">delete</a></span>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>
    <hr style="width:100%;display:block;margin-bottom:10px">
		</div>
	{% endfor %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}